@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  width: 100vw !important;
}
/* -------------------public style---------- */
/* input, button, submit { }  */
/* ------------------------------------------- */
header > nav {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}
.try-btn {
  width: 137px;
  height: 39px;
  line-height: 39px;
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 30px;
  text-align: center;
  background-color: transparent;
  color: hsl(322, 100%, 66%);
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 1em;
}
.try-btn:hover {
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
}
footer > img {
  width: 100%;
  margin-bottom: -5px;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div h1 {
  font-size: 3em;
  padding: 30px;
  text-align: center;
}
header div p {
  width: 40%;
  font-size: 1.3em;
  line-height: 2rem;
  text-align: center;
}
.start-btn {
  margin: 50px auto;
  width: 404px;
  height: 82px;
  line-height: 82px;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 50px;
  font-size: large;
  box-shadow: 0px 1px 5px rgb(73, 72, 72);
  cursor: pointer;
}
.start-btn:hover {
  background-color: hsl(321, 100%, 78%);
}
/* ----------------------------main---------------------- */
main {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.mobile-monitor {
  width: 80%;
}

.sec0,
.sec1,
.sec2,
.sec3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
}
.sec0 {
  padding: 0 15%;
}
.sec0 h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
}
.sec0 p {
  color: hsl(207, 4%, 50%);
  font-size: 1.2em;
  text-align: center;
}

.sec-img {
  width: 40%;
}
.sec-text {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.sec-text h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.lastSec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10rem auto;
}
.lastSec h3 {
  font-size: 2.7rem;
}
/* ------pattern----- */
.col {
  margin: 6rem auto;
  width: 100%;
}
.pattern-top-desktop,
.pattern-bottom-desktop {
  display: block;
  width: 100%;
}
.pattern-top-mobile,
.pattern-bottom-mobile {
  display: none;
}
.full-back {
  width: 100%;
  background-color: #f6fbff;
}

/* ---------------------------footer----------------- */
footer {
  color: hsl(207, 100%, 98%);
}

.footer-sec {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  padding: 8rem 8rem;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  width: 30%;
}
.footer-left p {
  line-height: 1.75rem;
}
.footer-right {
  width: 40%;
}
.footer-left > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
    brightness(103%) contrast(103%);
  margin-bottom: 1.5rem;
}
.footer-left div > img {
  margin-right: 1.2rem;
  width: 25px;
  height: 25px;
}
.phone,
.email,
.social {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
}

.social > a {
  margin: 3rem 1.2rem 0 0;
}

.media-icons i,
.fa {
  color: white !important;
  font-size: 40px !important;
}
.media-icons i:hover,
.fa:hover {
  color: rgb(52, 204, 250);
}

/* --------------FOOTER RIGHT----------- */
.footer-right h3 {
  font-size: 1.7em;
  margin: 1.5rem 0;
}
.footer-right p {
  margin: 1.5rem 0;
  width: 70%;
  line-height: 1.75rem;
}

form {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

form input {
  width: 65%;
  height: 50px;
  border-radius: 0.5rem;
}
form div {
  height: 50px;
  line-height: 50px;
  width: 30%;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 0.5rem;
  font-size: 1em;
  box-shadow: 0px 1px 5px rgb(73, 72, 72);
  cursor: pointer;
}

form div:hover {
  background-color: hsl(321, 100%, 78%);
}

/* -------------------responsive--------------- */
@media only screen and (max-width: 750px) {
  body {
    font-size: 1rem;
  }
  header h1{
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  main h1 {
    font-size: 3.5rem !important;
  }
  nav img {
    width: 75%;
  }
  header div p {
    width: 80%;
  }
  .start-btn {
    width: 70%;
  }
  .sec0,
  .sec1,
  .sec2,
  .sec3 {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }
  .sec0 > div {
    margin: 30px auto;
  }

  .sec-text,
  .sec-img {
    width: 90%;
    margin: 15px auto;
  }
  .col {
    margin: 100px auto;
  }
  .pattern-top-desktop,
  .pattern-bottom-desktop {
    display: none;
  }
  .pattern-top-mobile,
  .pattern-bottom-mobile {
    display: block;
    width: 100%;
  }
  .footer-sec {
    flex-direction: column-reverse;
    width: 100%;
    padding: 5rem;
    justify-content: space-between;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    margin: 70px auto;
  }
  footer form {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  form input {
    width: 100%;
    margin-bottom: 20px;
  }
  bottom{
    overflow: auto;
  }
}

